* {
	padding: 0;
	margin: 0;
	font-family: Open Sans Hebrew;
}
footer, header, nav, main, aside, article, section {
	display: block;
}
body {
	background: #f7f6f6;
}
header {
	background: #021f54;
	height: 62px;
}
#logo {
	position: absolute;
	display: block;
	background: url(../images/wtrunk.png);
	height: 65px;
	width: 96px;
	color: #fff;
	font-size: 26px;
	text-decoration: none;
	font-weight: bold;
	padding-top: 15px;
	float: left;
}
#dashboard {
	background: #72bb53;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	border: 0;
	margin: 0 10px 0 10px;
	padding: 5px 15px 5px 15px;
	outline:none;
}
a {
	color: #fff;
	text-decoration: none;
}
aside {
	height: 150px;
	background-image: url(https://subtlepatterns.com/patterns/sayagata-400px.png);
	background-attachment: fixed;
	background-position: bottom;
}
aside section {
	height: 100%;
	width: 275px;
	text-align: center;
	margin-top: 39px;
	margin-right: 10px;
	float: left;
	border-radius: 3px;
}
aside h4 {
	margin: 0;
	color: #337ab7;
	font-size: 46px;
	font-weight: bold;
}
aside h5 {
	color: #337ab7;
	font-size: 21px;
	font-weight: bold;
}
#homepage article:nth-child(1) {
	height: 500px;
	background: url(../images/mainpic.jpg) no-repeat center, linear-gradient(90deg, #fff 50%, #021f54 50%);
}
#homepage article section {
	width: 50%;
	float: left;
	text-align: center;
}
#homepage section:nth-child(1) h1 {
	color: #021f54;
	font-size: 48px;
	font-weight: bold;
	margin-top: 70px;
}
#homepage section:nth-child(1) p {
	color: #033076;
	font-size: 14px;
	font-weight: bold;
}
#homepage section:nth-child(2) h1 {
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	margin-top: 70px;
}
#homepage section:nth-child(2) p {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
section:nth-child(1) .mainIcon {
	color: #021f54;
	font-size: 200px;
	display: block;
}
section:nth-child(2) .mainIcon {
	color: #fff;
	font-size: 200px;
	display: block;
}
main button {
	height: 70px;
	width: 200px;
	background: #72bb53;
	border-radius: 2px;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	border: 0;
	margin-top: 40px;
	outline:none;
}
#homepage button span {
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	outline:none;
}
#homepage article:nth-child(2) {
	height: 330px;
	background-image: url(https://subtlepatterns.com/patterns/sayagata-400px.png);
	background-attachment: fixed;
	background-position: bottom;
}
#homepage article:nth-child(2) div {
	position: relative;
	bottom: 35px;
}
#homepage h2 {
	color: #337ab7;
	font-size: 36px;
	font-weight: bold;
}
#homepage article:nth-child(2) p {
	margin: 0 auto;
	color: #000;
	font-size: 16px;
	max-width: 540px;
}
.circle {
	position: relative;
	top: -10px;
	margin: 0 auto;
	height: 100px;
	width: 100px;
	border: 0;
	border-radius: 50%;
	background: #72bb53;
}
.circle i {
	position: relative;
	top: 22%;
	font-size: 60px;
	color: #fff;
}
footer {
	background: #021f54;
	height: 155px;
}
footer section:nth-child(1){
	float:left;
	width:50%;
	margin-top:30px;
}
footer section:nth-child(2){
	float:right;
	width:50%;
	direction:rtl;
	text-align:right;
	color:#fff;
	margin-top:15px;
}
footer section p:last-child {
	margin-top:40px;
}
footer p{
	margin:0;
	color:#fff;
	font-size:12px;
}
footer h5{
	font-weight:bold;
	font-size:18px;
}
footer li a{
	font-size:13px;
	color: #fff;
}

/* End HOMEPAGE */

/* Header */
header section {
	float: right;
	margin-top: 14px;
	color: #fff;
	font-size: 22px;
}
header section i {
	padding: 0 5px 0 5px;
}

#panel aside {
	background: #f7f6f6;
}
#panel aside section {
	padding-bottom: 10px;
}
#panel aside section:nth-child(1) {
	background: #d9534f;
}
#panel aside section:nth-child(2) {
	background: #5cb85c;
}
#panel aside section:nth-child(3) {
	background: #f0ad4e;
}
#panel aside section:nth-child(4) {
	background: #5bc0de;
}
#panel aside h4, #panel aside h5 {
	color: #fff;
}

/* Breadcrumbs */
#breadcrumbs li{
	list-style-type: none;
	display: inline;
	float: right;
	margin-top: 15px;
}
#breadcrumbs li:not(:first-child):after{
  content: ' | ';
}
#breadcrumbs a, #breadcrumbs a:visited {
	color: #0000ff;
}

#panel main {
	margin-top: 50px;
	direction: rtl;
}
#panel main section {
	min-height: 570px;
	width: 870px;
	border: 1px solid #666;
	background: #fff;
	float: left;
	padding: 0 30px 0 30px;
	margin-bottom: 50px;
	position: relative;
}
#panel main i {
	background: none;
	float:right;
	padding-left: 20px;
}
.count {
	background: #d9534f;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	padding: 0 8px 0 8px;
}
#panel main nav {
	height: 225px;
	width: 220px;
	border: 1px solid #666;
	background: #fff;
	float: right;
}
#panel nav li {
	list-style-type: none;
	border-bottom: 1px solid #666;
	padding: 12px 5px 12px 0;
	font-weight: bold;
}
#panel nav li:first-child {
	background: #999;
}
#panel nav li:last-child {
	border-bottom: none;
}
#panel nav a, #panel nav a:visited {
	color: #021f54;
	font-weight: bold;
}
#panel #calendar {
	height: 216px;
	width: 220px;
	border: 1px solid #666;
	background: #fff;
	float: right;
	margin-top: 20px;
}
/* Calendar Style */
.month {
    padding: 0px 25px;
    width: 100%;
    background: #021f54;
}
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    list-style-type: none;
}
.month .prev {
    float: left;
    padding-top: 10px;
}
.month .next {
    float: right;
    padding-top: 10px;
}
.weekdays {
    margin: 0;
    background-color: #ddd;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    font-size:10px;
    color: #777;
}
.days li .active {
    padding: 5px;
    background: #1abc9c;
    border-radius: 50%;
    color: white !important;
}
/* Step Wizard nav */
.nav-wizard {
	position: absolute;
	top: 0px;
	right:0px;
}
.nav-wizard > li {
  float: left;
}
.nav-wizard > li > a {
  position: relative;
  background-color: #eeeeee;
  padding: 10px 56px 10px 54.4px;
  color: #000;
}
.nav-wizard > li:not(:first-child) > a {
  padding-right: 53px;

}
.nav-wizard > li:not(:first-child) > a:before {
    width: 0px;
    height: 0px;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-right: 20px solid #eee;
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
}
.nav-wizard > li:not(:last-child) > a {
  margin-right: 6px;
}
.nav-wizard > li:not(:last-child) > a:after {
    width: 0px;
    height: 0px;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-right: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    right: 0px;
}
.nav-wizard > li:hover > a {
  background-color: #d5d5d5;
}
.nav-wizard > li:hover > a:before {
  border-right-color: #d5d5d5;
}
.nav-wizard > li:hover > a:after {
  border-left-color: #d5d5d5;
}
.nav-wizard > li.active > a,
.nav-wizard > li.active > a:hover,
.nav-wizard > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.nav-wizard > li.active > a:before {
  border-right-color: #428bca;
}
/* End Wizard nav */

main h1 {
	color: #033076;
	font-size: 36px;
	font-weight: bold;
}
.nav-step {
	padding: 40px 0 20px 0;
}

#wizard article {
	padding-left: 30px;
}
#wizard .form-control {
	margin: 5px 0 5px 0;
}
#wizard .form-group {
	direction: rtl;
	width: 400px;
}
#wizard .radio-inline {
	padding: 0px 0px 0px 60px;
}
.floor {
	width: 114px;
	display: inline-block;
}
.nextStep {
	position: relative;
    right: 40px;
    bottom: 20px;
    float: left;
	width: 200px;
	height: 50px;
	background: #033076;
	color: #fff;
	font-size: 28px;
}
.nextStep:hover a{
	text-decoration: none;
	color: #fff;
}
article h2{
	font-size: 26px;
	color:#033076;
}

article form input[type=search]{
	width: 510px;
	background: url("../images/search.png") no-repeat 8px;
}

.itemForm label{
	display: block;
	padding-bottom:4px;
}

.itemForm input[type=text]{
	width: 200px;
	height: 30px;
}

.itemForm select[type=text]{
	width: 200px;
	height: 30px;
}

.itemForm input[type=checkbox]{
	position: relative;
	right:10px;
	top:3px;
}
.form-horizontal button{
	height: 40px;
	width: 143px;
	background: #033076;
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.addToItemList {
	float: right;
}
.addedMenu{
	float: left;
	height: auto;
	width: 198px;
	background: #ffffff;
	border:1px solid #c0c0c0;
}

.addedMenuHead{
	background: #033076;
	height: 51px;
	width: 196px;
	color:#ffffff;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
}
.addedMenuHead1 {
	background: #033076;
	height: 150px;
	width: 196px;
	color:#ffffff;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
}

#wizard .addedMenu{
	padding-left: 0px;
	margin-bottom: 20px;
}

.addedMenu ul{
	padding-left: 5px;
	padding-right: 5px;
}


.addedMenu li{
	font-size: 16px; 
	padding-right: 4px;
	list-style: none;
	border-bottom: 1px solid #aaaaaa;
	width: 100%;
}
.addedMenuSingle{
	float: left;
	height: auto;
	width: 198px;
	background: #ffffff;
	border:1px solid #c0c0c0;
}

.addedMenuSingle ul{
	padding-left: 5px;
	padding-right: 5px;
}


.addedMenuSingle li{
	font-size: 26px;
    text-align: center;
    font-weight: bold;
    list-style: none;
    width: 100%;
}
.addedMenuSingle .item {
	position: relative;
    top: 50px;
    right: 10px;
}
.addedMenuSingle .desc {
	position: relative;
    top: 50px;
    right: 10px;
}
.addedMenuSingle .amount {
	position: relative;
    bottom: 50px;
    background: url(../images/times.png) 2px 15px no-repeat;
    padding-left: 15px;
}
.addedMenuSingle button {
	width: 197px;
}
.addedMenu span:not(.totalItems_amount) {
    background: url(../images/times.png) 14px 10px no-repeat;
    font-size: 22px;
    color: #033076;
    float: left;
    text-align: center;
    font-weight: bold;
    padding-left: 30px;
}
.amount {
    position: relative;
    bottom: 45px;
    right: 10px;
}

.item{
	padding:0px;
	margin: 0px;
	padding-bottom: 5px;
}

.description{
	margin-top: -5px;
	font-size: 12px;
}

.totalItems{
	position: relative;
	font-size: 18px;
	color: #033076;
	font-weight: bold;
	width: 182px;
	right:10px;
	top:70px;
}
.totalItems_amount, .totalItems_amount1 {
    position: relative;
    top: 35px;
    right: 163px;
    font-size: 18px;
    color: #033076;
    font-weight: bold;
}
#itemList i {
	float: left;
}
.totalItems span{
	font-size: 18px;
	margin-top: 0px;
}

.addedMenu button{
	position: relative;
	height: 51px;
	width: 197px;
	bottom: 0px;

}
#details p{
	font-weight: bold;
	margin:0 0 0 0;
}

#details p:first-child{
	font-weight: normal;
}

#details p:last-child{
	margin-bottom: 20px;
}

.accept{
	margin-top: 70px;
	text-align: center;
}

.accept h5{
	font-size: 26px;
	font-weight: bold;
	color:#033076;
}

.accept button{
	height: 37px;
	font-size: 18px;
}
/* My Trunks */
.myTrunkTable th{
	text-align: right;
	color: #fff;
	background: #021f54;
}
.modal-body .myTrunkTable th {
	background: #ffb253;
}
.myTrunkTable tr:nth-child(2n+0) {
    background: #fafafa;
}
.myTrunkTable button {
	width: 100px;
	height: 20px;
	border-radius: 10px;
	font-size: 12px;
	margin: 0 0 0 0;
}
.myTrunkTable span {
	display: inline;
	padding: 0px 4px 0px 4px;
	border-radius: 10px;
	font-size: 12px;
	background: #ff0000;
}
.awating {
	font-weight: bold;
	text-align: center;
	color: #ff5d55;
}
.approved {
	font-weight: bold;
	text-align: center;
	color: #72bb53;
}
.modal-dialog {
	margin:0 auto;
	margin-top: 5%;
	width: 900px;
}
.modal-title {
	text-align: center;
	font-weight: bold;
	color:#021f54;
}
.modal-footer button {
	height: 40px;
	width: 50px;
	font-size: 16px;
}
.responsive {
	display: none;
}
#update, #updateSingle {
	position: absolute;
	background: #fff;
	width: 510px;
	border: 1px solid #F5F5F5;
	z-index: 99;
	cursor: pointer;
}
#update p, #updateSingle p {
	margin: 0;
}
#update li, #updateSingle li{
	list-style-type: none;
	padding-right: 20px;
	border-bottom: 0.5px solid #F5F5F5;
}
#update li:hover, #updateSingle li:hover{
	background: #F5F5F5;
}
#update li:last-child, #updateSingle li:last-child{
	border-bottom: none;
}
.desc {
	font-size: 10px;
}

.choose {
	text-align: center;
	margin-top: 50px;
    margin-right: 100px;
}
.choose a, .choose a:visited {
	color: #021f54;
	font-size: 26px;
	text-decoration: none;
	font-weight: bold;
	float: right;
}
.choose a:nth-child(2) {
	margin-right: 100px;
}
.form1 {
	position: relative;
}
#map {
	position: absolute;
	top: 20px;
	left: 0;
    height: 300px;
    width: 390px;
}
.accept img {
	margin: 20px 0 20px 0;
}